<title>Cadastro de Servidores</title>
{% extends 'sgp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="border border-dark p-2 container text-center bg-dark text-white">
                    <h5>Informações Pessoais</h5>
                </div>
                <div class="border border-dark p-2">
                    <div class="form-group row">
                        <div class="col-md-12">
                            {{ form.nome|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            {{ form.sexo|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.rg|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            <label for="{{ form.cpf.id_for_label }}">CPF:</label>
                            <input type="text" name="{{ form.cpf.name }}" id="{{ form.cpf.id_for_label }}"
                                   class="form-control" maxlength="14" oninput="formatarCPF(this)" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            {{ form.telefone|as_crispy_field }}
                        </div>
                        <div class="col-md-8">
                            {{ form.email|as_crispy_field }}
                        </div>
                    <div class="form-group">
                        {{ form.data_nascimento|as_crispy_field }}
                    </div>
                    </div>
                </div>
                <div class="border border-dark p-2 container text-center bg-dark text-white">
                    <h5>Endereço</h5>
                </div>
                <div class="border border-dark p-2">
                    <div class="form-group">
                        {{ form.logradouro|as_crispy_field }}
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            {{ form.numero|as_crispy_field }}
                        </div>
                        <div class="col-md-5">
                            {{ form.zona|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.cep|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            {{ form.municipio|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.estado|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.bairro|as_crispy_field }}
                    </div>
                </div>
                <div class="border border-dark p-2 container text-center bg-dark text-white">
                    <h5>Formação</h5>
                </div>
                <div class="border border-dark p-2">
                    <div class="form-group">
                        {{ form.escolaridade|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.formacao|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.instituicao|as_crispy_field }}
                    </div>
                </div>
                <div class="border border-dark p-2 container text-center bg-dark text-white">
                    <h5>Lotação</h5>
                </div>
                <div class="border border-dark p-2">
                    <div class="form-group">
                        {{ form.cargo|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.funcao|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.vinculo|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.local|as_crispy_field }}
                    </div>
                </div>
                <div class="border border-dark p-2 container text-center bg-dark text-white">
                    <h5>Dados Bancários</h5>
                </div>
                <div class="border border-dark p-2">
                    <div class="form-group">
                        {{ form.banco|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.agencia|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.conta|as_crispy_field }}
                    </div>
                </div>
                <div class="border border-dark p-2 container text-center bg-dark text-white">
                    <h5>Informações Adicionais</h5>
                </div>
                <div class="border border-dark p-2">
                    <div class="form-group">
                        {{ form.data_admissao|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.data_inicio|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.data_saida|as_crispy_field }}
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function formatarCPF(campo) {
            var cpf = campo.value.replace(/\D/g, '');

            if (cpf.length > 3 && cpf.length <= 6)
                cpf = cpf.replace(/^(\d{3})(\d)/, '$1.$2');
            else if (cpf.length > 6 && cpf.length <= 9)
                cpf = cpf.replace(/^(\d{3})(\d{3})(\d)/, '$1.$2.$3');
            else if (cpf.length > 9)
                cpf = cpf.replace(/^(\d{3})(\d{3})(\d{3})(\d)/, '$1.$2.$3-$4');

            campo.value = cpf;
        }
    </script>
{% endblock %}
