{% extends 'sgp/base.html' %}

{% block content %}
    <h2 class="text-center">Detalhes do Servidor</h2>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Dados Pessoais</strong></h5>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nome"><strong>Nome:</strong> {{ servidor.nome }}</label>
                        </div>
                        <div class="form-group">
                            <label for="sexo"><strong>Sexo:</strong> {{ servidor.get_sexo_display }}</label>
                        </div>
                        <div class="form-group">
                            <label for="rg"><strong>RG:</strong> {{ servidor.rg }}</label>
                        </div>
                        <div class="form-group">
                            <label for="cpf"><strong>CPF:</strong> {{ servidor.cpf }}</label>
                        </div>
                        <div class="form-group">
                            <label for="telefone"><strong>Telefone:</strong> {{ servidor.telefone }}</label>
                        </div>
                        <div class="form-group">
                            <label for="email"><strong>Email:</strong> {{ servidor.email }}</label>
                        </div>
                        <div class="form-group">
                            <label for="data_nascimento"><strong>Data de Nascimento:</strong> {{ servidor.data_nascimento }}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="logradouro"><strong>Logradouro:</strong> {{ servidor.logradouro }}</label>
                        </div>
                        <div class="form-group">
                            <label for="numero"><strong>Número:</strong> {{ servidor.numero }}</label>
                        </div>
                        <div class="form-group">
                            <label for="zona"><strong>Zona:</strong> {{ servidor.get_zona_display }}</label>
                        </div>
                        <div class="form-group">
                            <label for="bairro"><strong>Bairro/Vila:</strong> {{ servidor.bairro }}</label>
                        </div>
                        <div class="form-group">
                            <label for="estado"><strong>Estado:</strong> {{ servidor.estado }}</label>
                        </div>
                        <div class="form-group">
                            <label for="municipio"><strong>Município:</strong> {{ servidor.municipio }}</label>
                        </div>
                        <div class="form-group">
                            <label for="cep"><strong>CEP:</strong> {{ servidor.cep }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Formação</strong></h5>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="escolaridade"><strong>Escolaridade:</strong> {{ servidor.get_escolaridade_display }}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="formacao"><strong>Formação:</strong> {{ servidor.formacao }}</label>
                        </div>
                        <div class="form-group">
                            <label for="instituicao"><strong>Instituição:</strong> {{ servidor.instituicao }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Lotação</strong></h5>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cargo"><strong>Cargo:</strong> {{ servidor.cargo }}</label>
                        </div>
                        <div class="form-group">
                            <label for="funcao"><strong>Função:</strong> {{ servidor.funcao }}</label>
                        </div>
                        <div class="form-group">
                            <label for="vinculo"><strong>Vínculo:</strong> {{ servidor.get_vinculo_display }}</label>
                        </div>
                        <div class="form-group">
                            <label for="local"><strong>Local:</strong> {{ servidor.get_local_display }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Dados Bancários</strong></h5>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="banco"><strong>Banco:</strong> {{ servidor.banco }}</label>
                        </div>
                        <div class="form-group">
                            <label for="agencia"><strong>Agência:</strong> {{ servidor.agencia }}</label>
                        </div>
                        <div class="form-group">
                            <label for="conta"><strong>Conta:</strong> {{ servidor.conta }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Dados Adicionais</strong></h5>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="data_admissao"><strong>Data de Admissão:</strong> {{ servidor.data_admissao }}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="data_inicio"><strong>Data de Inicio:</strong> {{ servidor.data_inicio }}</label>
                        </div>
                        <div class="form-group">
                            <label for="data_saida"><strong>Data de Saida:</strong> {{ servidor.data_saida }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <button class="btn btn-primary" onclick="gerarPDF()">Gerar PDF</button>
        <a href="{% url 'lista_servidores' %}" class="btn btn-secondary">Voltar</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script>
        function gerarPDF() {
            const element = document.querySelector('.container');

            html2pdf()
                .set({
                    margin: 0.5,
                    filename: 'detalhes_servidor.pdf',
                    image: {type: 'jpeg', quality: 0.98},
                    html2canvas: {scale: 4},
                    jsPDF: {unit: 'in', format: 'letter', orientation: 'portrait'}
                })
                .from(element)
                .save();
        }
    </script>
{% endblock %}
