<title>Gerenciar Servidores</title>
{% extends 'sgp/base.html' %}

{% block content %}
    <h2 class="text-center">Lista de Servidores</h2>
    <div class="container mt-5 small">
        <table class="table">
            <!-- Cabeçalho da tabela -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Vínculo</th>
                    <th>Cargo</th>
                    <th>Função</th>
                    <th>Escolaridade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Corpo da tabela -->
                {% for servidor in servidores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="small">{{ servidor.nome }}</td>
                        <td class="small">{{ servidor.vinculo }}</td>
                        <td class="small">{{ servidor.cargo }}</td>
                        <td class="small">{{ servidor.funcao }}</td>
                        <td class="small">{{ servidor.get_escolaridade_display }}</td>
                        <td>
                            <a href="{% url 'editar_servidor' servidor.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'apagar_servidor' servidor.id %}" class="btn btn-danger btn-sm">Apagar</a>
                            <a href="{% url 'detalhar_servidor' servidor.id %}" class="btn btn-info btn-sm">Detalhar</a>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Rodapé da tabela -->
                <tr>
                    <td colspan="7" class="text-end">Total de registros: {{ total_registros }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
